@import "../styles.scss";

$mapHeight: calc(100vh - 320px);
$minHeight: 600px;

div.annotations {
    background: $g2;
    border-bottom: 2px solid $g1;
    width: 100%;
    margin: auto;
    h2 {
        font-weight: 400;
        text-align: center;
        padding: 15px;
    }
    p {
        padding: 15px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
}

div.map-gui {
    width: 100%;
    margin: auto;
    height: $mapHeight;
    min-height: $minHeight;
    display: flex;
    flex-direction: row;
    div.map {
        display: block;
        width: calc(100% - 300px);
        height: 100%;
        pointer-events: none;
    }

    @media (max-width: 600px) {
        height: auto;
        flex-wrap: wrap;
        div.map {
            width: 100%;
            height: 300px;
        }
    }
}

div.map-inputs {
    width: 320px;
    height: $mapHeight;
    min-height: $minHeight;
    div.map-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        div.img {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 50px;
                height: 50px;
            }
        }
        div.input {
            width: calc(100% - 80px);
            padding-right: 15px;
            h3 {
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 5px;
            }
            input {
                display: block;
                background: $g3;
                color: white;
                border-radius: 5px;
                width: 100%;
                height: 40px;
                border: none;
                padding: 0 15px;
                font-size: 16px;
            }
        }
    }

    div.map-input-info {
        padding: 15px;
        p {
            font-size: 14px;
            font-weight: 700;
        }
        div.info-stat {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 15px;
            &.total {
                padding-top: 30px;
                font-size: 18px;
                font-weight: 400;
                flex-direction: column;
                div.info-label, div.info-value {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }

            div.info-label {
                width: 50%;
                text-align: right;
            }
            div.info-value {
                width: 50%;
                text-align: right;
            }
        }
    }

    div.map-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 15px 0 15px;
        a.button {
            margin-left: 15px;
            width: 80px;
            height: 40px;
            border-radius: 5px;
            background: $g3;
            color: white;
            font-size: 14px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: $g2;
            }
        }
    }
}

div.stats {
    div.stats-title {
        width: 100%;
        height: 80px;
        background: $g3;
        border-top: 2px solid $g1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        h2 {
            font-size: 32px;
            font-weight: 300;
            span.small {
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
    div.stats-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-left: 1px solid $g3;
        border-right: 1px solid $g3;

        div.country {
            border: 1px solid $g3;
            width: 300px;
            padding: 15px;
            position: relative;
            span.code {
                position: absolute;
                right: 15px;
                top: 15px;
                font-weight: 700;
                font-size: 14px;
            }
            h3 {
                font-weight: 300;
                font-size: 18px;
                margin-bottom: 15px;
            }
            div.stat-info {
                margin-bottom: 15px;
                h4 {
                    font-size: 16px;
                    font-size: 700;
                }
            }
        }
    }
}