<div class="container">
  <div class="article-content">
    <h1>The Myths of Climate Change</h1>
    <h2>Thursday, September 27th, 2018</h2>

    <div class="extra-links">
      <a class="easing" href="https://www.youtube.com/channel/UCmNMVl5gicZyxTjTNLBqjgw" target="_blank">
        <i class="fab fa-youtube"></i> Video on Climate Change
      </a>
      <a class="easing" routerLink="/simulator">
        <i class="fas fa-flask"></i> Phytoremediation and Emission Simulator
      </a>
    </div>

    <p>
      One of the biggest misconceptions about Global Warming is that the first world needs to stop emitting so much carbon emissions.
      Our approach in the Paris Agreement for taxation and punishment of carbon emissions is unpragmatic... Rather, we should propose that corporations that
      produce a lot of carbon emissions must produce agriculture that neutralizes their carbon emissions. However, due to the geographic location of a lot
      of corporations and countries, this is in a lot of contexts impossible to do so.
    </p>

    <h3>The Myth of Climate Change is that we must reduce output of emissions. The reality is that we need to utilize those emissions for agriculture and feeding the poor.</h3>

    <p>
      While, I am very onboard for the reduction of toxic waste in our air... The focus seems to be purely on Greenhouse Emissions
      as opposed to toxic elements. This is not rational considering the plan of action proposed. To completely
      disregard phytoremediation in The Paris Agreement is downright careless and reckless.
    </p>

    <h3>Phytoremediation of Toxic Emissions is critical for our own health too, not just climate.</h3>

    <p>
      We also have never postulated the aspects of astronomy and how Solar Cycles function. Typically, the Sun will go
      through a "Grand Minimum" and "Grand Maximum", this is when Sun Spots on the external layer of our Star emits more
      or less heat through Nuclear Fusion.
    </p>

    <div class="figure">
      <img src="/assets/article/solar.spots.png" />
    </div>
    <h3>We are currently in a "Grand Maximum"</h3>

    <p>
      However, despite the changes in the dichotomy of our star, we should not dismiss the changes in emissions as having an impact on our
      climate. The changes in solar cycles are things we should mindful of, as they directly change our climate as well too...
      Currently, we are seeing abnormal activity that is in causation with the changes in emissions and climate change.
    </p>

    <div class="figure">
      <img src="/assets/article/climate.forcing.png" />
    </div>
    <h3>Climate Forcing is in direct causation of the changes in emissions and climate change</h3>

    <p>
      Again, despite evidence showing environmental impact. This does not necessarily mean the onus to balance emissions on specific
      parts of Earth... In fact, this is a great opportunity to have less developed countries become carbon negative real estate with
      high agricultural output.
    </p>

    <div class="figure">
      <img src="/assets/article/poverty.png"/>
    </div>
    <h3>Around 80% of humanity live on less than $10 USD a day.</h3>
    <p>
      Taking into consideration how many people are living in poverty... The Paris Agreement should be accountable for this with it's propoganda.
      Rather, instead of seeking to only restrict GHG emissions... We should seek to balance our input and output of all emissions.
      There is no doubt that any toxic elements should be completely omitted from our atmosphere... However,
      CO2 is a very critical part of our existence and Earth... It is an essential part of our own bodies. Thus, we need to simply seek to balance it more
      effectively.
    </p>

    <div class="figure">
      <iframe src="https://ourworldindata.org/grapher/cumulative-co-emissions" style="width: 100%; height: 600px; border: 0px none;"></iframe>
    </div>
    <h3>USA is in the forefront of CO2 emissions at > 350k MT</h3>
    <p>
      If you notice in the figure provided by Our World in Data... South America and Africa produce little to no CO2 emissions, and,
      are also home to the poorest people in the world... It would make rational sense to have carbon negative farms built there, to
      not only counteract climate change, but, to feed the people there as well.
    </p>
    
    <div class="figure">
      <img src="/assets/article/organic.vs.conv.png" />
    </div>
    <h3>Rodale Institute, while in the early stages, shows proof of Carbon Negative Agriculture</h3>
    <p>
      I am huge proponent for ethical clean agriculture practices... Obviously, conventional agriculture uses a lot of chemicals with
      known harmful effects on our body... The focus when reducing global carbon output should be on reducing toxic elements for human
      consumption as well.
    </p>

    <div class="figure">
      <img src="/assets/article/phytoremediation.jpg" />
    </div>
    <h3>Utilizing Hemp as a phytoremediation crop is in the best interest of humanity</h3>
    <p>
      Plants that are remediators can absorb toxic elements from both the soil and the ground.
      Considering that Hemp is great as a building material... It would make logical sense to
      produce hemp to clean our soil and air... And harvest them for building materials
      as opposed to consumption. Obviously, hemp intended for human consumption should
      be in environments with less toxins.
    </p>

    <div class="figure">
      <iframe style="width: 100%; height: 600px;" src="https://www.youtube-nocookie.com/embed/g4kKxY7KNyw?rel=0" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
    <h3>Hemp for infrastructure is not only logical, but counteracts GHG output</h3>

    <p>
      So to conclude, we need to seriously reconsider how we approach Climate Change and Greenhouse Emissions. The Paris Agreement seems shortsighted
      if not downright careless. It is in our best interest to put onus on corporations that produce high amounts of emissions to produce agriculture
      for 3rd world countries. Thus, allowing a prosperous exchange that alleviates the poor from hunger. We should also factor in remediation as well
      as geographic location of certain countries... Capitalizing on the geographical location of Third World Countries will help enable
      Carbon Neutral input and output.
    </p>

    <div class="sources">
      <h4>Sources and Acknowledgements</h4>
      <p><a href="https://climatefocus.com/sites/default/files/20151228%20COP%2021%20briefing%20FIN.pdf" target="_blank">Paris Agreement Summary</a></p>
      <p><a href="http://ossfoundation.us/projects/environment/global-warming/natural-cycle" target="_blank">NASA, Global Warming Natural Cycles</a></p>
      <p><a href="http://www.globalissues.org/article/26/poverty-facts-and-stats" target="_blank">Global Issues, Poverty Facts and Stats</a></p>
      <p><a href="https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions" target="_blank">Our World in Data, CO2 and other Greenhouse Gas Emissions</a></p>
      <p><a href="http://rodaleinstitute.org/assets/WhitePaper.pdf" target="_blank">Rodale Institute, White Paper</a></p>
      <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1369103/" target="_blank">NCBI, Phytoremediation</a></p>
    </div>
  </div>
</div>