<div class="container">
  <div class="article-content">
    <h1>The Myths of Climate Change</h1>
    <h2>Thursday, September 27th, 2018</h2>

    <div class="extra-links">
      <a class="easing" href="https://www.youtube.com/channel/UCmNMVl5gicZyxTjTNLBqjgw" target="_blank">
        <i class="fab fa-youtube"></i> Video
      </a>
      <a class="easing" routerLink="/">
        <i class="fas fa-flask"></i> Carbon Simulator
      </a>
    </div>

    <p>The Myth of Climate Change is that we must reduce output of emissions. The reality is that we need to utilize those emissions for agriculture and feeding the poor.</p>

    <p>
      The two key points I will be discussing are Carbon Sequestration and Phytoremediation... However, I do
      want to also discuss socioeconomic impact before moving forward with those key points.
    </p>

    <div class="figure">
      <img src="/assets/article/poverty.png"/>
    </div>
    <h3>Around 80% of humanity live on less than $10 USD a day.</h3>
    <p>
      If there is one thing I feel is the worst when it comes to the Paris Agreement. Is it's complete disregard
      for the third world... If we are going to be discussing reducing carbon emissions... We should obviously
      factor in that agriculture can play a big role in reducing carbon emissions. The only way a crop can
      grow is by absorbing CO2.
    </p>

    <div class="figure">
      <iframe src="https://ourworldindata.org/grapher/cumulative-co-emissions" style="width: 100%; height: 600px; border: 0px none;"></iframe>
    </div>
    <h3>USA is in the forefront of CO2 emissions at > 350k MT</h3>
    <p>
      That doesn't mean we should completely disregard accountability from first world countries when it comes
      to CO2 emissions. Obviously USA is in the forefront when it comes to cumulative CO2 emissions. They
      are also the most capable of providing clean agriculture practices to the third world through
      technology... So one could only expect such a thing should be done.
    </p>

    <h3>We should be accountable for Phytoremediation</h3>
  
    <p>
      I am huge proponent for ethical clean agriculture practices... Obviously, conventional agriculture uses a lot of chemicals with
      known harmful effects on our body... The focus when reducing global carbon output should be on reducing toxic elements for human
      consumption as well. I feel this is something that is disregarded almost completely in the Paris Agreement, and it is sort of
      upsetting considering the air quality in first world countries.
    </p>

    <div class="figure">
      <img src="/assets/article/phytoremediation.jpg" />
    </div>
    <h3>Utilizing Hemp as a phytoremediation crop</h3>
    <p>
      Plants that are remediators can absorb toxic elements from both the soil and the ground.
      Considering that Hemp is great as a building material... It would make logical sense to
      produce hemp to clean our soil and air... And harvest them for building materials
      as opposed to consumption. Obviously, hemp intended for human consumption should
      be in environments with less toxins or no toxins.
    </p>

    <div class="figure">
      <iframe style="width: 100%; height: 600px;" src="https://www.youtube-nocookie.com/embed/g4kKxY7KNyw?rel=0" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
    <h3>Hemp for infrastructure</h3>

    <p>
      Hemp has been well known as an excellent material for many other resources outside of human consumption.
      In any case where Hemp is used for non human consumption. It should most likely be from a crop that
      was intended for Phytoremediation.
    </p>

    <div class="figure">
      <img src="/assets/article/sequestration.png" />
    </div>
    <h3>Carbon Sequestration is the most practical way to reduce CO2</h3>

    <p>
      There has been plenty of evidence pointing towards Carbon Sequestration as the most
      effective means of reducing CO2 in the atmosphere. It only makes sense to help
      incentivize future agriculture companies to use Sequestration practices.
    </p>

    <h3>~1 Acre of Sequestrated Agriculture mitigates ~0.4 Tonnes of CO2</h3>

    <p>
      Considering the cumulative output, we would need a lot of Sequestrated Agriculture in
      order to create a carbon neutral environment... However, we can only assume as more
      research is put into this... More effective means will come into effect later.
    </p>

    <p>
      In conclusion, I feel that the Paris Agreement doesn't factor in some key things
      such as socioeconomic problems such as poverty and world hunger in the third world.
      Furthermore, they also seem to never discuss phytoremediation of toxins as well as
      Carbon Sequestration with Agriculture for CO2 reduction.
    </p>



    <div class="sources">
      <h4>Sources and Acknowledgements</h4>
      <p><a href="https://climatefocus.com/sites/default/files/20151228%20COP%2021%20briefing%20FIN.pdf" target="_blank">Paris Agreement Summary</a></p>
      <p><a href="https://pubs.usgs.gov/bul/1401/report.pdf" target="_blank">Analysis of Silicate Rocks</a></p>
      <p><a href="https://en.wikipedia.org/wiki/Carbon_sequestration#Agriculture" target="_blank">Carbon Sequestration</a></p>
      <p><a href="http://ossfoundation.us/projects/environment/global-warming/natural-cycle" target="_blank">NASA, Global Warming Natural Cycles</a></p>
      <p><a href="http://www.globalissues.org/article/26/poverty-facts-and-stats" target="_blank">Global Issues, Poverty Facts and Stats</a></p>
      <p><a href="https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions" target="_blank">Our World in Data, CO2 and other Greenhouse Gas Emissions</a></p>
      <p><a href="http://rodaleinstitute.org/assets/WhitePaper.pdf" target="_blank">Rodale Institute, White Paper</a></p>
      <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1369103/" target="_blank">NCBI, Phytoremediation</a></p>
    </div>
  </div>
</div>