<div class="container">
  <div class="article-content">
    <h1>The Myths of Agriculture</h1>
    <h2>Monday, October 1st, 2018 (Updated November 2nd)</h2>

    <div class="sources">
      <h4>Sources and Acknowledgements</h4>
      <p><a href="https://climatefocus.com/sites/default/files/20151228%20COP%2021%20briefing%20FIN.pdf" target="_blank">Paris Agreement Summary</a></p>
      <p><a href="https://pubs.usgs.gov/bul/1401/report.pdf" target="_blank">Analysis of Silicate Rocks</a></p>
      <p><a href="https://en.wikipedia.org/wiki/Carbon_sequestration#Agriculture" target="_blank">Carbon Sequestration</a></p>
      <p><a href="http://ossfoundation.us/projects/environment/global-warming/natural-cycle" target="_blank">NASA, Global Warming Natural Cycles</a></p>
      <p><a href="http://www.globalissues.org/article/26/poverty-facts-and-stats" target="_blank">Global Issues, Poverty Facts and Stats</a></p>
      <p><a href="https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions" target="_blank">Our World in Data, CO2 and other Greenhouse Gas Emissions</a></p>
      <p><a href="http://rodaleinstitute.org/assets/WhitePaper.pdf" target="_blank">Rodale Institute, White Paper</a></p>
      <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1369103/" target="_blank">NCBI, Phytoremediation</a></p>
    </div>
  </div>
</div>